a{
    text-decoration: none;
    color:var(--cor-bg);
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2em;
    padding: 18px;
    position: relative;
    margin: 15px;
    transition: 0.2s ease-in;

    
}

a:hover{
    transform: scale(1.04);
    color: var(--cor-secundaria);
    background-color: var(--cor-bg);

}
.contenido_links{
    max-width: 700px;
    margin: auto;
}